[submodule "libarchive"]
	path = src/libarchive
	url = https://github.com/libarchive/libarchive
	branch = master
[submodule "zstd"]
	path = src/zstd
	url = https://github.com/facebook/zstd
	branch = dev
[submodule "vosk-api"]
	path = src/vosk
	url = https://github.com/alphacep/vosk-api
[submodule "kaldi"]
	path = src/kaldi
	url = https://github.com/alphacep/kaldi
	branch = vosk
